/* Estilo del título principal */
.titulotabla {
    font-family: "Oswald", serif;
    font-weight: 300;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #020659;
    text-align: center;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

/* Contenedor principal */
.cuerpoform {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 90px; /* Espacio para el título fijo */
    background: linear-gradient(
            rgba(255, 255, 255, 0.411),
            rgba(255, 255, 255, 0.288)
        ),
        url(../img/fondo4.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh; /* Altura completa */
}

/* Botón de volver */
.volver{
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0056b3;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.volver:hover {
    background-color: #003d80;
}

/* Tabla contenedora */
.tabla {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

/* Encabezados de la tabla */
.tabla th {
    background-color: #020659;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px;
    text-align: center;
}

/* Celdas de la tabla */
.tabla td {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.tabla td a {
    text-decoration: none;
    display: inline-block;
    background-color: #020659;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s;
    width: 100%; /* Botón ocupa toda la celda */
    box-sizing: border-box;
}

.tabla td a:hover {
    background-color: #0056b3;
}

/* Alternar colores de fila */
.tabla tr:nth-child(even) {
    background-color: rgba(245, 245, 245, 0.8);
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .tabla {
        display: block; /* Cambia la tabla a un diseño de bloque */
    }

    .tabla thead {
        display: none; /* Oculta los encabezados en pantallas pequeñas */
    }

    .tabla tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 5px;
    }

    .tabla td {
        text-align: center;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .tabla td a {
        font-size: 12px;
        padding: 10px;
    }
}
