.cuerpo{
    padding: 5rem;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
            rgba(255, 255, 255, 0.411),
            rgba(255, 255, 255, 0.288)
        ),
        url(../img/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    align-items: center;
}
.contenedor{
    background-color: white;
    width: 100%;

    padding: 50%;
    justify-content: center;
    display: flex;
}
.titulotabla{
    color: #6c757d;
    width: 100%;
    justify-content: center;
    display: flex;
}
.container{
    background-color: #020659;
    width: 10%;
    padding: 7%;
    justify-content: center;
    display: flex;
    height: 10px;
}