<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fmt/css/menu.css">
    <title>LIBERACIONES</title>
</head>
<body>
    <h1>SELECCIONE LA SEDE QUE DESEA REVISAR</h1>
    <div class="menu-revisiones-links">
        <a href="/fmt/template/Calidad/Liberaciones/galeria_liberaciones.php?sede=ZC">
            <span class="icon" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ebf6ff" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
</svg>
            </span>
            LIBERACIONES BOGOTA
        </a>
        <a href="/fmt/template/Calidad/Liberaciones/galeria_liberaciones.php?sede=ZS">
            <span class="icon" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ebf6ff" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
</svg>
            </span>
            LIBERACIONES PASTO
        </a>
    </div>
</body>
</html>